@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Francois+One&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Staatliches&family=Tourney:wght@600&display=swap");


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}


/* header start */

.header__wrapper {
    max-width: 1200px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 20px auto 70px;

}

.header__nav {
    margin-left: 50px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.item::after {
    content: '/';
    color: #000;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin: 0 10px;
}

.list__item-link {
    text-decoration: none;
    color:rgb(80, 78, 78);
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
}

.list__item-link:hover {
    opacity: 0.65;
}

.active {
    color: #000;
}

.header__logo {
    margin: 0 0 0 auto;
}


.eng {
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    color: black;    
}

/* header end */


/* logo__icons start*/

/* ----title---- */

.logo__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    margin: 0 auto 40px;
    max-width: 1200px;
    display: flex;
}

.title > hr {
    width: 100px;
    height: 8px;
    background-color: #000;
    margin: 24px 20px 20px 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

/* ----logo---- */

.logo__wrapper {
    max-width: 1200px;
}

.top {
    margin-bottom: 20px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo__item {
    width: 270px;
    height: 180px;
    position: relative;
    z-index: 1;
}

.logo__icon-front {
    width: 270px;
    height: 180px;
    background: #E6E6E6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}

.logo__icon-back {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: rotateX(-180deg);
    transition: transform .4s cubic-bezier(.2,.85,.4,1.275);
}

.logo__item:hover .logo__icon-back {
    transform: rotateX(0deg);
    z-index: 2;
    }

.logo__item:hover .logo__icon-front {
    transform: rotateX(180deg);
    z-index: -1;
    }

.bottom {
    margin-bottom: 30px;
}

hr {
    margin-top: 20px;
}
/* logo__icons end */